@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito&family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito&family=Oswald:wght@300&family=Trispace&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

/* heading and logo section */
h1{
    font-family: 'Trispace', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000808;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#logo > a{
    text-decoration: none;
}

/* Navigation bar */
nav {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    margin-top: 20px;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px;
    letter-spacing: 1px;
    color:#000;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    color: #0abdb4;
  }

  .active{
    color: #0abdb4;
  }

/* Main hero image */
#hero-outer{
  height: 700px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#cover-text{
  color: #000000;
  font-size: 150%;
  font-family: 'Trispace', sans-serif;
  position: absolute;
  top: 25%;
  padding: 25%;
  width: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  text-align: center;
}

#hero-image{
  height: 800px;
  width: 100%;
  background: url('./images/pexels-dominika-roseclay-2095953.jpg') no-repeat center;
  opacity: 0.8;
  animation-name: hero-zoom;
  animation-duration: 7s;
  animation-fill-mode: backwards;
}

@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}

