html{
  scroll-behavior: smooth;
}

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#ffffff;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

/* Header **/
header{
  background:#ebeaea;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
}

header a{
  color:#01515c;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header h1{
  color: #01515c;
  font-size: 32px;
  padding-left: 50px;
}

header li{
  float: left;
  display:inline;
  margin-right: 30px;
}

header .logo{
  float:left;
}

header .logo h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .current a{
  color:#fc0b0b;
  font-weight:bold;
  text-decoration: underline;
}

header a:hover{
  color:#fc0b0b;
  font-weight:bold;
}

/* Main text */
#main-text{
  min-height:700px;
  background:url('./images/hero-image.jpg') no-repeat 0;
  text-align:center;
}

#main-text h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  color:#01515c;
}

#main-text p{
  font-size:40px;
  color:#01515c;
}

/* Book an appointment */
#appointment{
  padding:15px;
  color:#01515c;
  background:#ebeaea
}

#appointment h1{
  float: left;
}

#appointment form {
  float:right;
  margin-top:15px;
}

#appointment input[type="email"]{
  padding:4px;
  height:25px;
  width:350px;
}

.button-1{
  height:38px;
  background:#01515c;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  width: 200px;
  font-size: 16px;
}

.button-1 a:hover{
  color:#fc0b0b;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  width:30%;
  padding:20px;
}

#boxes .box img{
  width:400px;
  padding: 5%;
  border: solid 1px #01515c;
  border-radius: 5%;
}

#boxes h2{
  text-align: center;
  text-decoration: underline;
}

/* Footer */
footer{
  padding:20px;
  margin-top:20px;
  color:#01515c;
  background-color: #cccccc;
  text-align: center;
}

footer p{
  font-size: 18px;
}


/* eyeglasses html (CSS) */
.glasses-section {
  width: 100vw;
}

.glasses-section h3{
  font-size: 32px;
  text-align: center;
  text-decoration: overline;
}

.image-container {
  width: 100%;
}

.row-one,
.row-two,
.row-three {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.grid-item {
  width: 30%;
  height: 310px;
  margin: 15px;
  background-size: cover;
  background-position: center;
}

.grid-item:hover {
  opacity: 0.8;
  border: solid 1px #01515c;
}

#glasses-one {
  background-image: url(./images/Glasses1.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-two {
  background-image: url(./images/Glasses2.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-three {
  background-image: url(./images/Glasses3.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-four {
  background-image: url(./images/Glasses4.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-five {
  background-image: url(./images/Glasses5.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-six {
  background-image: url(./images/Glasses6.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-seven {
  background-image: url(./images/Glasses7.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-eight {
  background-image: url(./images/Glasses8.png);
  font-size: 20px;
  text-decoration: underline;
}

#glasses-nine {
  background-image: url(./images/Glasses9.png);
  font-size: 20px;
  text-decoration: underline;
}

/* appointment html (CSS) */
.form-bg{
  padding:15px;
  background:#5c5c5c;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Main-col */
article #main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

#form-bottom .appt input, #form-bottom .appt textarea{
  width:90%;
  padding:5px;
}

/* Media Queries */
@media(max-width: 768px) and (max-width:1023px){
  header #main-text,
  header nav,
  header nav li,
  #appointment h1,
  #appointment form,
  #boxes .box,
  article#main-col,
  #form-bottom,
  .glasses-section
  .grid-item{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #main-text h1{
    margin-top:40px;
  }

  #appointment button, .appt button, .row-one, .row-two, .row-three{
    display:block;
    width:100%;
  }

  #appointment form input[type="email"], .appt input, .appt textarea{
    width:100%;
    margin-bottom:5px;
  }
}